.navbar {
    display: flex;
    justify-content: center;
}

.brand {
    font-size: 30px;
}

.correct {
    background-color: rgb(187, 178, 178);
    color: black;
}

.close {
    background-color: goldenrod;
    color: black;
}

.wrong {
    background-color: rgb(177, 76, 76);
    color: black;
}

.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


.hidden {
    visibility: hidden;
}

.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.card-1 {
    display: flex;
    justify-content: center;

}

.card-1-1 {
    border-style: dotted;
    border-color: grey;
    height: 10vh;
    width: 10vh;
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

.winner {
    animation: rainbow 4s infinite linear;
}